.container{
    grid-gap: 10px;
    display: grid;
    grid-template-rows: 100px 150px 100px;
    grid-template-columns: 75px 1fr 1fr 1fr 1fr;
    grid-template-areas: ". a1 a2 a3 a4"
                         "b1 b2 b2 b2 b3"
                         "b1 c1 c2 c2 c2";
}
.a1 { grid-area: a1;}
.a2 { grid-area: a2;}
.a3 { grid-area: a3;}
.a4 { grid-area: a4;}

.b1 { grid-area: b1;}
.b2 { grid-area: b2;}
.b3 { grid-area: b3;}

.c1 { grid-area: c1;}
.c2 { grid-area: c2;}

.yellow {
    background-color:yellow;
}
.orange {
    background-color:orange;
}
.cyan {
    background-color: cyan;
}